<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejecutivo De Mesa</title>
  </head>
  <body>
    <h1>Ejecutivo mesa</h1>
    <form action="/crear-tique" method="post">
      <label>rut cliente</label>
      <input type="text" name="rut" /><br />
      <label>nombre cliente</label>
      <input type="text" name="nombre" /><br />
      <label>telefono cliente</label>
      <input type="int" name="telefono" /><br />
      <label>Correo electronico cliente</label>
      <input type="text" name="correo" /><br />
      <label>Detalle problema</label>
      <input type="text" name="detalleProblema" /><br />
      <label>Detalle Servicio</label>
      <input type="text" name="detalleServicio" /><br />
      <label>Criticidad</label>
      <input type="text" name="criticidad" /><br />
      <button type="submit">Go!</button>
    </form>
  </body>
</html>
